
@{
    ViewBag.Title = "GetNamee";
}

<h2>GetNamee</h2>
@section featured

{

    <section class="featured">

        <div class="content-wrapper">

            <hgroup class="title">

            </hgroup>

            <p>

                It is featured section. That is named section in Layout template that defined by RenderSection

            </p>

        </div>

    </section>
    <div>
       
    </div>

}
